body{
    font-family: Arial, sans-serif;
    background-color: rgb(242, 242, 242);
}  
form{
    max-width: 500px;
    height: 500px;
    background-color: rgb(189, 229, 220);
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding-top: 25px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
}
#textBox{
    max-width: 55%;
    font-size: 2rem;
}
input{
    text-align: center;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(239, 78, 78);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}  
button:hover{
    background-color: rgb(209, 20, 20);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}